ion-item:last-child {
  --border-color: transparent;
}
.card {
  padding-bottom: 10px;
}
.title {
  margin-top: 20px;
}
.nutrients {
  max-width: 360px;
  margin-left: -15px;
}
.dark {
  color: #222428;
}
