<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="usda-header">
    <ion-card-header>
      <ion-card-title><ion-icon name="git-branch" class="icon"></ion-icon>USDA National Nutrient Database</ion-card-title>
      <ion-card-subtitle>
        Search the database by food item, food group, or manufacturer's name to find the nutrient information for your food items
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-searchbar
    type="text"
    placeholder="Search"
    animated="true"
    debounce="500"
    (ionInput)="setFilteredItems($event)"
    class="searchbar"
  ></ion-searchbar>
  <ion-content *ngIf="results.length > 0" class="content">
    <ion-item *ngFor="let result of results" tappable (click)="onClick(result)">
      <ion-text color="primary" class="text">{{ result.name }}</ion-text>
    </ion-item>
  </ion-content>
  <ion-content *ngIf="noResults" class="content">
    <ion-label color="danger" class="no-results">No Results...</ion-label>
  </ion-content>
</ion-content>
